/* buscar tipo de letra ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
}

html,
body {
  /*-webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;*/
  background: blue;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

.red {
  color: red;
}
.green {
  color: green;
}
.white {
  color: white;
}
.container {
  background-color: #4a00e0;
  bottom: 0;
  color: #fff;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
