* {
  border: none;
  list-style: none;
  outline: none;
  padding: 0;
  text-decoration: none;
  margin: 0;
}

html,
body {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
  color: #fff;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}
@-webkit-keyframes color-change-2x {
  0% {
    background: #303030;
  }
  100% {
    background: #202020;
  }
}
@keyframes color-change-2x {
  0% {
    background: #303030;
  }
  100% {
    background: #202020;
  }
}

p {
  -moz-columns: auto 30rem;
  columns: auto 30rem;
}

.red {
  color: red;
}
.green {
  color: green;
}
.white {
  color: white;
}
.container {
  background-color: #4a00e0;
  bottom: 0;
  color: #fff;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/*animaciones letras*/
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*estilo botones*/
button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #ffffff80;
  box-shadow: transparent;
  color: #ffffff80;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px;
  text-shadow: none;
  text-transform: uppercase;
  transition: 0.5s ease;
  user-select: none;
}

#btn:hover,
:focus {
  background: #008cff;
  border: 1px solid #008cff;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

.separar-botones {
  display: flex;
  justify-content: space-around;
}
